
*.png
/soch.py
*.sublime-workspace
*.sublime-project
*.wav
/vcs.xml
/workspace.xml
*.xml
results/RateConvergenceAcrossRepetitions_cf125_32-32-32fig_normalized.fig
results/synapse_results_*.mat

results/synapse_results_run3_8-8-8_RandomNoise.mat
subcorticalSTRF/BEZ2018_meanrate/results/
/subcorticalSTRF/BEZ2018_meanrate/results/
/subcorticalSTRF/violin_plot_results/
/subcorticalSTRF/model_comparisons_python/
/subcorticalSTRF/cf_level_analysis_results/
/subcorticalSTRF/all_cfs_regression_analysis_results/
/subcorticalSTRF/cochlea_meanrate/out/
/subcorticalSTRF/cochlea_meanrate/results/
*.pdf
/subcorticalSTRF/convolution_HRF/output/
*.fig
*.mat
*.log
*.json
*.csv
*.txt

/scientificdayposter/
moch.py
.idea/phd_firstyear.iml
.idea/vcs.xml
phd_firstyear.code-workspace
.idea/modules.xml
*.ai-conventions
*.cursorrules
